<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @tweet.message %>
</p>

<p>
  <b>Zombie:</b>
  <%= @tweet.zombie_id %>
</p>


<%= link_to 'Edit', edit_zombie_tweet_path(@zombie, @tweet) %> |
<%= link_to 'Back', zombie_tweets_path(@zombie) %>
