<h1>Listing zombies</h1>

<div id="zombies">
  <%= render @zombies %>
</div>

<div id="errors">
</div>

<%= form_for(Zombie.new, remote: true) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br />

<%= link_to 'New Zombie', new_zombie_path %>
